<style>

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.row{
    /* background-color: #f2f2f2; */
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 & var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* .row .teammember .h3 .h4{
    font-size: 50px;
    text-transform: uppercase;

} */

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.rounded-circle {
    border-radius: 50%!important;
}

.mb-5{
    margin-bottom: 3rem!important;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.img,svg{
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: ;
    overflow-y: ;
}

.teammember {
    /* background: #fff; */
    padding: 30px 16px;
    /* box-shadow: 5px 5px 10px #333; */
}
.teammember h3, h4{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.teammember i{
    /* color: #ffe6e8; */
    color: hsl(165.081, 89%, 41%);
    font-size: 40px;
    padding: 2px;
}
.fab, .far{
    font-weight: 400;
}

.fab{
    font-family: "font Awesome 5 Brands";
}

.fa,.fab,.fad,.fal,.far,.fas{
    -webkit-font-smoothing:antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-facebook-square:before{
    content: "\fa082";
}
.fa-twitter-square:before{
    content: "\fa081";
}
.fa-instagram:before{
    content: "\f16d";
}
.fa-linkedin:before{
    content: "\fa8c";
}

/* .teammember a{
    font-size: 20px;
} */

.text-center{
    text-align: center!important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    /* font-size: 30px; */
}
.house-choice::after {
    content: "";
    clear: both;
    display: table;
}


.land-choice::after {
    content: "";
    clear: both;
    display: table;
}

[class *="col-"] {
    float: left;
    padding: 15px;
}


html {
    font-size: 62.5%;
    /* overflow-x: hidden; */
}

/* BODY BACKGROUND IMAGE CSS STYLE STARTS */
body {
    margin: 0;
    overflow-x: hidden;
    background-image: url(https://lh3.googleusercontent.com/vvm00GimaLqpsW4zeODWAbrpApsUfm8t7XVOvW4ZMShdEjRa5dx3ZzQzXcbg7jMa6Fo2X63naBVvcXhuj3etkPO78ZHbA21oQfVc2xuWRo2A7wlKaE4=w2400-rj);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* BODY BACKGROUND IMAGE CSS STYLE ENDS */

/* NAVIGATION MENU CSS STYLE STARTS */
.topnav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: hsl(165, 88%, 41%);
    /* background-color: hsl(162, 96%, 33%); */
    /* background-color: #03a574; */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 30px;
    text-transform: capitalize;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
    background-color: #FFE1D6;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #ffe6e8;
    color: black;
}

/* Split the topnav menu into two part afar of */
.topnav a.split {
    float: right;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 30px;
}

/* NAVIGATION MENU CSS STYLE ENDS */

a{
    /* text-decoration: underline; */
}
a:-webkit-any-link{
    color: webkit-link;
    cursor: pointer;
    /* text-decoration: underline; */
}
a:hover{
    color: burlywood;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    /* font-size: 30px; */
}

/* HEADER SECTION FORMATTING STARTS */
header {
    margin-top: 100px;
}

header #logo{
    margin-top: 20em;
}

header .logo {
    margin-left: 50px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}

/* HEADER SECTION FORMATTING ENDS */

/* BODY CSS STYLE STARTS */
/* Main Welcome Message content Starts */
.welcome-intro {
    display: block;
    font-size: 30px;
    padding-top: 10rem;
    color: black;
    width: 100%;
    margin-top: 5rem;
    margin-left: 0vh;
    box-sizing: border-box;
    text-align: justify;
}

.welcome-intro p {
    font-size: 25px;
    display: block;
}

/* Main Welcome Message content Starts */

/* HOME VARIETY COMES STARTS */
.home-variety .choice {
    text-align: center;
}

.home-variety img {
    margin-left: 20px;
    margin-top: 5px;
    border: solid 2px white;
}


.land-variety .choice {
    text-align: center;
}

.land-variety img {
    margin-left: 20px;
    margin-top: 5px;
    border: solid 2px white;
    /* align-items: center; */
}

/* HOME VARIETY COMES ENDS */

/* Team member Images Display Starts  */
.our-team .team {
    text-align: center;
}

/* .home-variety img {
    margin-left: 20px;
    margin-top: 5px;
    border: solid 2px white;
} */

.team-member-image .team {
    text-align: center;
}

.team-member-image img {
    margin-left: 20px;
    margin-top: 5px;
    border: solid 2px white;
    /* align-items: center; */
}

/* Team member Images Display Ends  */


/* Sponsors Styling Starts */
.our-partners .partners {
    text-align: center;
}
.partners-member-image .partners {
    text-align: center;
}
.partners-member-image img {
    margin-left: 20px;
    margin-top: 5px;
    border: solid 2px white;
    /* align-items: center; */
}
.partnermember {
    /* background: #fff; */
    padding: 30px 16px;
    /* box-shadow: 5px 5px 10px #333; */
}
.partnermember h3, h4{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.partnermember i{
    /* color: #ffe6e8; */
    color: hsl(165.081, 89%, 41%);
    font-size: 40px;
    padding: 2px;
}

/* Sponsors Styling Ends */

/* FAQs TOUR FORM DISPLAY STARTS */
.welcome-intro .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.welcome-intro .box-container .box {
    flex: 1 1 30rem;
    margin: 2rem;
}

.welcome-intro .box-container .box h3 {
    font-size: 1.5rem;
    color: var(--blue);
}

.welcome-intro .box-container .box p {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.welcome-intro .box-container .box p i {
    font-size: 1.5rem;
    /* color: var(--blue); */
}

.welcome-intro .box-container .box a {
    font-size: 1.5rem;
    display: block;
    color: #333;
    padding: 0.5rem 0;
}

/* Social Media Platforms */
.followus i{
    /* color: #ffe6e8; */
    /* display: inline; */
    color: hsl(165.081, 89%, 41%);
    font-size: 40px;
    padding: 2px;
    text-decoration: none;
}

.followus .box-container .box {
    flex: 1 1 30rem;
    margin: 2rem;
}

.followus .box-container .box h3 {
    font-size: 1.5rem;
    color: var(--blue);
}

.followus .box-container .box p {
    font-size: 1.5rem;
    /* color: #333; */
    padding: 1rem 0;
}

.followus .box-container .box p i {
    font-size: 1.5rem;
    /* color: var(--blue); */
}

.followus .box-container .box a {
    font-size: 1.5rem;
    display: block;
    color: #333;
    padding: 0.5rem 0;
}

.followus a:hover {
    /* text-decoration: underline; */
}

/* FAQs TOUR FORM DISPLAY STARTS */

/* FORM DISPLAY APPEARANCE STARTS */
/* Form Position starts */
#contactus {
    margin-top: 100px;
    padding-top: 10px;
    /* min-height: 100rem; */
    min-height: 10rem;
    margin-left: 30px;
}

/* Form Position Ends */

/* Form Title "Contact Us" Position Starts */
.formbody {
    float: left;
}

/* Form Title "Contact Us" Position Ends */

/* Sign-up Form Appearance Control Starts */
.signup-form {
    width: 320px;
    padding: 20px;
    border: 2px solid #21d19c;
    margin-top: auto;
    margin-bottom: 10vh;
    float: left;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sign-up Form Appearance Control Ends */

/* Sign up Icon Starts */
.icon {
    font-size: 110px;
    display: flex;
    justify-content: center;
    color: #21d19c;
}

/* Sign up icon Ends */

/* Form Title format starts */
.titleh3 {
    font-size: 30px;
    text-align: center;
}

/* Form Title format ends */

/* Form paragraph format starts */
.signup-form p {
    font-size: 20px;
    font-family: ;
    font-weight: bolder;
    margin: 10px 0;
    color: black;
    line-height: var(wrapper)
}

/* Form paragraph format ends */

/* Username, E-mail, Password and Message box format starts */
#uname {
    width: 100%;
    height: 5vh;
    border-radius: 10px;
}

#mail {
    width: 100%;
    height: 5vh;
    border-radius: 10px;
}

#psw {
    width: 100%;
    height: 5vh;
    border-radius: 10px;
}

#message {
    width: 100%;
    height: 190px;
    border-radius: 10px;
}

/* Username, E-mail, Password and Message box format ends */

/* Form Submit and Reset button format starts */
.signup-form button {
    width: 30%;
    margin-left: 0px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border: 2px solid;
    color: white;
    background-color: #21d19c;
    cursor: pointer;
    border-radius: 60px;
}

.signup-form button:hover {
    background-color: whitesmoke;
    color: black;
}

/* Form Submit and Reset button format ends */

/* FORM DISPLAY APPEARANCE STARTS */

/* FOOTER SECTION STARTS */
.footer {
    border: 2px solid #21d19c;
    border-radius: 40px;
    float: left;
    background: #FFE1D6;
    /* background: white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

.footer .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box {
    flex: 1 1 30rem;
    margin: 2rem;
}

.footer .box-container .box h3 {
    font-size: 1.5rem;
    color: var(--blue);
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

.footer .box-container .box p i {
    font-size: 1.5rem;
    /* color: var(--blue); */
}

.footer .box-container .box a {
    font-size: 1.5rem;
    display: block;
    color: #333;
    padding: 0.5rem 0;
}

.footer a:hover {
    text-decoration: underline;
}

.nocap {
    text-transform: none;
}

/* FOOTER SECTION ENDS */


/* For mobile devices: */
[class*="col-"] {
    width: 100%;
}


/* MEDIA QUERY DISPLAY STARTS */
@media only screen and (min-width:100px) {
    /* For desktop: */

    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (min-width:200px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (min-width:400px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}


@media only screen and (max-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }

}

@media only screen and (min-width:768px) {

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }    

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (min-width:992px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (min-width:1200px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}



@media only screen and (orientation: landscape) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* MEDIA QUERY DISPLAY ENDS */

/* BODY CSS STYLE ENDS */
</style>